body {
  max-width: 100%;
  height: auto;
  
}

.tableDescontos table{
  width: 100%;
  overflow: auto;
}

.tableDescontos td{
  padding-right: 10px;
}
.filter{
  display: flex;
  flex-direction: row;
}

/* .filter {
  width: 30px;
}


.filter input {
  width: 30px;  
} */







.comboboxFormsMain{
  display: flex;
  flex-direction: row;
}

.logo{
  width: 100px;
}

.filtrosDetails {
  display: flex;
}

.ulFiltros {
  display: inline;
  list-style-type: square;
}
