body {
  max-width: 100%;
  height: auto;
  margin: 0;
  
}

table {
  width: 100%;
}

.filter{
  width: 2rem;
}

.headerTable {
  padding-top: 10px; 
}


table td{
  padding-right: 10px;
}

.textHeaderTable {
  font-size: 12px;
}

.comboboxFormsMain{
  display: flex;
  flex-direction: row;
}

.logo img{
  max-width: 70%;
  min-width: 20%;
  height: auto;
  float: left;
  margin: 5px;
  
}
