body {
  max-width: 100%;
  height: auto;
  margin: 0;  
  font-family: 'Roboto', sans-serif;
}

mat-form-field {
  padding: 0;
}

.matCardFilter {
  align-content: center;
  height: 25px;
  width: auto;
  max-width: 90px;
}

table {
  width: 100%;
  text-align: center;
}

.filter{
  width: 75px;
}

table td{
  padding-right: 10px;
}

.textHeaderTable {
  font-size: 12px;
}

.logo img{
  max-width: 70%;
  min-width: 20%;
  height: auto;
  float: left;
  margin: 5px;  
}
