  


<mat-grid-list cols="3" rowHeight="5:2">
    <mat-grid-tile>
      <div class="logo" fxLayout="row" >
          <img src="../../assets/img/pt_logoCorfio.png" alt="">  
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <table>
          <tr>
            <td> <strong>Local:</strong> </td>
            <td> SP CAPITAL </td>
          </tr>
          <tr>
            <td> <strong> Descontos p/ Tabela: </strong> </td>
            <td> DEZ2018 </td>
          </tr>
          <tr>
            <td> <strong>Faturamento Via:</strong></td>
            <td>Filial</td>
          </tr>
          <tr>
            <td> <strong>ICMS:</strong></td>
            <td>18%</td>
          </tr>
        </table>    
    </mat-grid-tile>
    <mat-grid-tile>
        <table>
            <tr>
              <td><strong>Data:</strong></td>
              <td>06/02/2019:</td>
            </tr>
            <tr>
              <td><strong>Usuário:</strong></td>
              <td>Zeno França Jr</td>
            </tr>
          </table>  
    </mat-grid-tile>
  </mat-grid-list>

  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro Geral">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    
    <ng-container matColumnDef="codEstabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estab.Vda. </th>
      <td mat-cell *matCellDef="let item"> {{item.codEstabel}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="uf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let item"> {{item.uf}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="regiao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Região </th>
      <td mat-cell *matCellDef="let item"> {{item.regiao}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="fmCodigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fam.Prod. </th>
      <td mat-cell *matCellDef="let item"> {{item.fmCodigo}} </td>
    </ng-container>

    <ng-container matColumnDef="codCanalVenda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Canal Vda. </th>
      <td mat-cell *matCellDef="let item"> {{item.codCanalVenda}} </td>
    </ng-container>

    <ng-container matColumnDef="contribIcms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contrib. </th>
      <td mat-cell *matCellDef="let item"> {{ item.contribIcms | descontosContrib  }} </td>
    </ng-container>

    <ng-container matColumnDef="sufixoCv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tab.Preço </th>
      <td mat-cell *matCellDef="let item"> {{item.sufixoCv}} </td>
    </ng-container>

    <ng-container matColumnDef="desconto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tab.Preço </th>
      <td mat-cell *matCellDef="let item"> {{item.desconto | currency: 'BRL' }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
