.logo img {
    max-width: 60%;
    min-width: 20%;
    height: auto;
    float: left;
    margin: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.form-container > * {
    width: 15%;
    padding: 10px;
  }